{
  "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "class-methods-use-this": "off",
    "no-unpublished-require": "off",
    "node/no-unpublished-require": "off",
    "no-process-exit": "off",
    "consistent-return": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "jest": true
  }
}
